<form action={%& form_action %} name="filter" method="get">
{% for key, values in pairs(vars.uti.sorted(filters, true, function(x) return x[1] end)) do %}
  <fieldset>
  {% for i, value in ipairs(values) do %}
    {% if i == 1 then %}
      <legend>{%& key %}</legend>
      <div class="cluster"><div>
    {% end %}
    <div>
      <input hx-push-url="true" hx-include="closest form" hx-get="{%& form_ajax_update %}" hx-target="#table-content" type="checkbox" id="{%& key %}[]" name="{%& key %}[]" value="{%& value %}" 
      {% if selected == nil then %}
        checked
      {% else %}
        {% if vars.uti.value_in_array(value, selected[key]) then %}checked{% end %}
      {% end %}
      />
      <label for="{{%& key %}[]">{%& value %}</label>
    </div>
  {% end %}
    </div></div>
  </fieldset>
{% end %}
<input type="submit" value="update"/>
</form>
