{% function block.generate_tag(t, f, tc) %}
  {% local tc = tc or vars.count_tag(t, f) %}
  <a class="tag  {% if tc == 0 then %}empty{% end %}" href="{%& vars.siteurl %}/filters/{%& f %}/tags/{%& t %}">{%& t %}({%& tc %})</a>
{% end %}

{% function block.new_page(image_base_64) %}
<img class="page-img" src="data:image/png;base64, {%& image_base_64 %}">
{% end %}

{% function block.content_body() %}
  <div id="{%& page_data.page %}" class="box page">
  {% block.new_page(page_data.png) %}
  </div>
{% end %}


{% function block.content_sidebar() %}
{% local tags = vars.get_tags(page_data.id, page_data.page) %}
<div class="box page-meta">
{% if #tags > 0 then %}
  <fieldset class="tags">
  <legend>Page metadata</legend>
  </legend>
  <a href="/filters/{%& filter %}/pdfs/{%& page_data.id %}#{%& page_data.page %}">Page {%& page_data.page %}</a>
  of <a href="/filters/{%& filter %}/pdfs/{%& page_data.id %}">{%& page_data.id %}</a>
  <fieldset class="tags">
  <legend>Tags</legend>
  {% for i, row in ipairs(tags) do %}
    {% block.generate_tag(row.tag, filter) %}
  {% end %}
  <button>Alter Tags</button>
  </fieldset>
  <button>Alter Page Metadata</button>
  </fieldset>
{% end %}
</div>
{% end %}

{% function block.page() %}
<div class="with-sidebar">
  {% block.content_body() %}
  {% block.content_sidebar() %}
</div>
{% end %}

{% block.page() %}
