{% function block.generate_link(key, value) %}
{% if url ~= nil then %}
{% if url[key] ~= nil then %}
<a href="{%& vars.siteurl %}/{%& url[key] %}/{%& value %}">{%& value %}</a>
{% else %}
{%& value %}
{% end %}
{% end %}
{% end %}

{% function block.new_page(image_base_64) %}
<img class="page-img" src="data:image/png;base64, {%& image_base_64 %}">
{% end %}

{% function block.content_body() %}
  <div id="{%& page_data.page %}" class="page"><div class="page-content">
  {% block.new_page(page_data.png) %}
  </div></div>
{% end %}


{% function block.content_sidebar() %}
<div class="box page-meta">
  Page {%& page_data.page %} from <a href="/filters/{%& filter %}/pdfs/{%& page_data.id %}#{%& page_data.page %}">{%& page_data.id %}</a>
  {% local tags = vars.get_tags(page_data.id, page_data.page) %} 
  {% render("partial/tags", {filter = filter, 
                             data = tags, 
                             url = {tags = "/filters/" .. filter .. "/tags",
                                    pdfs = "/filters/" .. filter .. "/pdfs"}, 
                             legend = "Page " .. page_data.page .. " tags"}) %}
</div>
{% end %}

{% function block.page() %}
<div class="with-sidebar">
  <div class="content_body">{% block.content_body() %}</div>
  <div class="halfwidth">{% block.content_sidebar() %}</div>
</div>
{% end %}

{% block.page() %}
