{% local prev_page = nil %}
{% for i = 1, #pages do %}
  {% local current_page = pages[i].page %}
  {% if prev_page ~= nil then %}
    {% if current_page - prev_page ~= 1 then %}<hr class="eoq">{% end %}
  {% end %}
  {% render('partial/page', {filter=filter, show_meta=show_meta, page_data = pages[i]}) %}
  {% prev_page = current_page %}
{% end %}
