{% function block.generate_link(name, value, count) %}
{% if count == nil then %}
{% c = '' %}
{% else %}
{% c = ' (' .. count .. ')' %}
{% end %}

{% if name == "tag" then %}
<a href="{%& vars.siteurl %}/tags/{%& value %}">{%& value .. c %}</a>
{% elseif name == "id" then %}
<a href="{%& vars.siteurl %}/pdfs/{%& value %}">{%& value .. c %}</a>
{% else %}
{%& value %}
{% end %}
{% end %}

{% if table_data ~= nil then %}
<table>
<tr>
{% if show_id then %}<th>id</th>{% end %}
{% for i, key in ipairs(table_header) do %}<th>{%& key %}</th>{% end %}
</tr>
  {% for rowid, row in pairs(table_data) do %}
  <tr>
  {% if show_id then %}
  <td>{%& block.generate_link("id", rowid) %}</td>
  {% end %}
  {% for k, key in ipairs(table_header) do %}
    <td>{%& block.generate_link(key, row[key]) %}</td>
  {% end %}
</tr>
{% end %}
</table>
{% else %}
<p>No matching tags for specified filters</p>
{% end %}
