{% function block.generate_link(key, value) %}
{% if url ~= nil then %}
{% if url[key] ~= nil then %}
<a href="{%& vars.siteurl %}/{%& url[key] %}/{%& value %}">{%& value %}</a>
{% else %}
{%& value %}
{% end %}
{% end %}
{% end %}

{% if records > 0 then %}
<table {% if table_id ~= nil then %}id="{%& table_id %}"{% end %}>
<tr>
{% if show_id then %}<th>id</th>{% end %}
{% for i, key in ipairs(header) do %}<th>{%& key %}</th>{% end %}
</tr>
{% for rowid, row in pairs(data) do %}
  <tr>
  {% if show_id then %}
  <td>{%& block.generate_link("id", rowid) %}</td>
  {% end %}
  {% for k, key in ipairs(header) do %}
    <td>{%& block.generate_link(key, row[key]) %}</td>
  {% end %}
</tr>
{% end %}
</table>
{% else %}
{%& table_id %} has no records
{% end %}
