:root {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
  --fratio: 1.2;
  --fontsize-1: calc(var(--fontsize0) / var(--fratio));
  --fontsize0: calc(0.2vw + 1rem);
  --fontsize1: calc(var(--fontsize0) * var(--fratio));
  --fontsize2: calc(var(--fontsize1) * var(--fratio));
  --fontsize3: calc(var(--fontsize2) * var(--fratio));
  font-size: var(--fontsize0);
  line-height: 1.8;
  --col1 :#3ebddb;
  --col2: #94dbeb;
  --col3: #69cce3;
  --col4: #3ebddb;
  --col5: #24a4c1;
  --col6: #1c7f96;
  --col7: #145b6b;
  --col8: #0c3740;
  --col9: #041215;
}

h1 {
  font-size: var(--fontsize3);
}

h2 {
  font-size: var(--fontsize2);
}

h3 {
  font-size: var(--fontsize1);
}

body {
  background-color: var(--col7);
  margin: 0 auto;
  padding-top: var(--s-1);
  padding-left: var(--s-2);
  padding-right: var(--s-2);
  color: #fff;
  min-height: 100vh;
}

a {
  color: white;
}

header a + a {
  padding-left: var(--s1);
}

.tags a{
  padding-left: var(--s0);
  padding-right: var(--s0);
}

hr {
  color: var(--col6);
}

footer {
  font-size: var(--fontsize-1);
  margin-top: var(--s1);
  margin-bottom: var(--s1);
  text-align: center;
}

.subtitle {
  margin-top: 0;
  font-weight: lighter;
}

.empty {
  color: var(--col1);
}

.selected, .current, .active {
  font-weight: bolder;
}

fieldset {
  border-color: var(--col1);
  border-radius: var(--s-4);
}

fieldset legend {
  padding: 0 var(--s0) 0 var(--s0);
}

fieldset > ul {
  column-count: 1;
  overflow-x: scroll;
  max-height: 25vh;
}

fieldset > ul * {
  margin-right: var(--s-1);
}

.page > img {
  background-color: white;
  padding: var(--s-4);
}

img {
  max-width: 90vw;
}

nav a {
  font-size: var(--fontsize1);
}



