{% function block.new_page(image_base_64) %}
<img src="data:image/png;base64, {%& image_base_64 %}">
{% end %}

{% function block.generate_link(name, value, count) %}
{% if count == nil then %}
{% c = '' %}
{% else %}
{% c = ' (' .. count .. ')' %}
{% end %}

{% if name == "tag" then %}
<a href="{%& vars.siteurl %}/tags/{%& value %}">{%& value .. c %}</a>
{% elseif name == "id" then %}
<a href="{%& vars.siteurl %}/pdfs/{%& value %}">{%& value .. c %}</a>
{% else %}
{%& value %}
{% end %}

{% end %}

<!doctype html>
<html lang={%& vars.lang %}> 
  <head>
  {% function block.head() %}
    <title>{%& vars.title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% local CSS_LOC = vars.siteurl .."/css" %}
    <link rel="stylesheet" type="text/css" href="{%& CSS_LOC %}/structure.css" />
    <link rel="stylesheet" type="text/css" href="{%& CSS_LOC %}/style.css" />
    <link rel="icon" href="{%& vars.siteurl %}/img/logo.svg">

    <script src="{%& vars.siteurl %}/js/htmx.js" async></script>

  {% end %}
  {% block.head() %}
  </head>
  <body>
    <div id="header" class="stack center">
      <h1><a href="{% if vars.siteurl~= '' then %}{%& vars.siteurl %}{% else %}/{% end %}"><img class="icon" src="{%& vars.siteurl %}/img/logo.svg"/>{%& vars.title %}</a></h1>
      {% function block.navbar() %}
      <nav>
        {% for i, key in ipairs(vars.rollcall) do %}
          {% local link = vars.links[key] %}
          <a {% if key == current_page then %}class="current"{% end %}href="{%& link %}">{%& key %}</a>
        {% end %}
      </nav>
      {% end %}
      {% block.navbar() %}
    </div>
    <content>
      {% function block.content() %}{% end %}
      {% block.content() %}
    </content>
    <footer>
      {% function block.footer() %}
        Copyright Dr Mark S. Brown 2025
      {% end %}
      {% block.footer() %}
    </footer>
  </body>
</html>
