{% function block.new_page(image_base_64) %}
<img src="data:image/png;base64, {%& image_base_64 %}">
{% end %}


{% function block.generate_link(name, value, count) %}
{% if count == nil then %}
{% c = '' %}
{% else %}
{% c = ' (' .. count .. ')' %}
{% end %}

{% if name == "tag" then %}
<a href="{%& vars.siteurl %}/tags/{%& value %}">{%& value .. c %}</a>
{% elseif name == "id" then %}
<a href="{%& vars.siteurl %}/pdfs/{%& value %}">{%& value .. c %}</a>
{% else %}
{%& value %}
{% end %}

{% end %}

{% function block.table_with_header(data, header, show_id) %}
<table>
<tr>
{% if show_id == 1 then %}
<th>id</th>
{% end %}
{% for i, key in ipairs(header) do %}
<th>{%& key %}</th>
{% end %}
</tr>
{% for rowid, row in pairs(data) do %}
<tr>
{% if show_id == 1 then %}
<td>{%& block.generate_link("id", rowid) %}</td>
{% end %}

{% for k, key in ipairs(header) do %}
<td>{%& block.generate_link(key, row[key]) %}</td>
{% end %}
</tr>
{% end %}
</table>
{% end %}

{% function block.render_table(data) %}
  <table>
  {% for i = 1, #data do %}
    {% local row = data[i] %}
    {% if i == 1 then %}
    <tr>
    {% for k,v in pairs(row) do %}
    <th>{%& k %}</th>
    {% end %}
    </tr>
    {% end %}
    <tr>
    {% for k,v in pairs(row) do %}
      <td>{%& block.generate_link(k,v) %}</td>
    {% end %}
    </tr>
  {% end %}
  </table>
{% end %}

<!doctype html>
<html lang={%& vars.lang %}> 
  <head>
  {% function block.head() %}
    <title>{%& vars.title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% local CSS_LOC = vars.siteurl .."/css" %}
    <link rel="stylesheet" type="text/css" href="{%& CSS_LOC %}/structure.css" />
    <link rel="stylesheet" type="text/css" href="{%& CSS_LOC %}/style.css" />
  {% end %}
  {% block.head() %}
  </head>
  <body>
    <div id="header" class="stack center">
      <h1><a href="{% if vars.siteurl~= '' then %}{%& vars.siteurl %}{% else %}/{% end %}">{%& vars.title %}</a></h1>
      {% function block.navbar() %}
      <nav>
        {% for text, link in pairs(vars.links) do %}
          <a {% if text == current_page then %}class="current"{% end %}href="{%& link %}">{%& text %}</a>
        {% end %}
      </nav>
      {% end %}
      {% block.navbar() %}
    </div>
    <content>
      {% function block.content() %}{% end %}
      {% block.content() %}
    </content>
    <footer>
      {% function block.footer() %}
        <footer>Copyright Dr Mark S. Brown 2025<footer>
      {% end %}
      {% block.footer() %}
    </footer>
  </body>
</html>
