{% function block.new_page(image_base_64) %}
<img src="data:image/png;base64, {%& image_base_64 %}">
{% end %}

{% function block.generate_link(name, value) %}
{% if name == "tag" then %}
<a href="{%& vars.siteurl %}/tags/{%& value %}">{%& value %}</a>
{% elseif name == "id" then %}
<a href="{%& vars.siteurl %}/pdfs/{%& value %}">{%& value %}</a>
{% else %}
{%& value %}
{% end %}

{% end %}

{% function block.render_table(data, header, highlight) %}
  <table>
  {% for i = 1, #header do %}
  <th>{%& header[i] %}</th>
  {% end %}
  {% for k,v in pairs(data) do %}
    <tr>
    {% for i,j in pairs(v) do %}
      <td {% if j == highlight then %}class="active"{% end %}>{%& block.generate_link(i,j) %}</td>
    {% end %}
    </tr>
  {% end %}
  </table>
{% end %}

<!doctype html>
<html lang={%& vars.lang %}> 
  <head>
  {% function block.head() %}
    <title>{%& vars.title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% local CSS_LOC = vars.siteurl .."/css" %}
    <link rel="stylesheet" type="text/css" href="{%& CSS_LOC %}/structure.css" />
    <link rel="stylesheet" type="text/css" href="{%& CSS_LOC %}/style.css" />
  {% end %}
  {% block.head() %}
  </head>
  <body>
    <div id="header" class="stack center">
      <h1><a href="{% if vars.siteurl~= '' then %}{%& vars.siteurl %}{% else %}/{% end %}">{%& vars.title %}</a></h1>
      {% function block.navbar() %}
      <nav>
        {% for text, link in pairs(vars.links) do %}
          <a {% if text == current_page then %}class="current"{% end %}href="{%& link %}">{%& text %}</a>
        {% end %}
      </nav>
      {% end %}
      {% block.navbar("") %}
    </div>
    <content>
      {% function block.content() %}{% end %}
      {% block.content() %}
    </content>
    <footer>
      {% function block.footer() %}
        <footer>Copyright Dr Mark S. Brown 2025<footer>
      {% end %}
      {% block.footer() %}
    </footer>
  </body>
</html>
