{% function block.header() %}
<fieldset>
<legend>Filter Available</legend>
<table id="table_filters">
<tr {% if filter == "all" then %}class="selected"{% end %}>
    <td><a href="{%& vars.siteurl %}/filters/all/view">View All</a></td>
</tr>
{% local d = data or filters.data %}
{% for rowid, row in pairs(d) do %}
<tr {% if filter == row.name then %}class="selected" hx-redirect="/filters/all/view"{% end %}>
    <td><a href="{%& vars.siteurl %}/filters/{%& row.name %}/view">{%& row.name %}</a></td>
    {% if row.name ~= "all" then %}
    <td>
      <noscript><a href="/form/filter/{%& row.name %}">Modify</a></noscript>
      <button class="onlyjs" hx-target="#form-filter" hx-get="/partial/form/filter/{%& row.name %}">Modify</button>
    </td>
    <td>
      <noscript><a href="/filters/{%& row.name %}/delete">Delete</a></td></noscript>
      <button class="onlyjs" hx-swap="outerHTML" hx-target="#table_filters" hx-delete="/filters/{%& row.name %}">Delete</button>
    </td>
    {% end %}
  </tr>
{% end %}
</table>
<noscript>
<a
href="/form/filter">Create New Filter</a>
</noscript>
<button
class="onlyjs"
hx-get="/partial/form/filter"
hx-target="#form-filter"
>Create New Filter</button>
<div class="onlyjs" id="form-filter"></div>
</fieldset>
{% end %}

{% function block.content() %}
<fieldset>
{% if filter == "all" or filter == nil then %}
<legend><h3>All Documents</h3></legend>
{% else %}
<legenid><h3>Filter : {%& filter %}</h3></legend>
{% end %}

<dl>
<dt># of Documents</dt><dd>{%& pdfs.records %}</dd>
</dl>

{% render("partial/tags", {filter = filter, 
                           data = tags.data, 
                           legend = filter .. " Tags"}) %}
<fieldset>
<legend>Matching PDFs</legend>
{% render("partial/table", pdfs) %}
</fieldset>

</fieldset>
{% end %}

{% render('layouts/base', {current_page="filters"}) %}
