{% function block.content_sidebar() %}
{% all_values = {} %}
{% for i, key in ipairs(vars.header) do %}
  {% all_values[key] = vars.get_metadata_values(key) %}
{% end %}

<h4>Filter</h4>
{% render('partial/filter', {form_action = "/pdfs", filters = all_values, form_ajax_update = "/table/pdfs"}) %}

{% end %}

{% function block.content_header() %}
  {% local c = vars.uti.len(table_data) %}
  {% if c > 1 then %}
    <p>There are {%& c %} matching PDFs</p>
  {% else if c == 1 then %}
    <p>There is {%& c %} matching PDF</p>
  {% else %}
    <p>There are no matching pdfs</p>
  {% end %}
{% end %}
{% end %}

{% function block.content_body() %}
  {% if vars.uti.len(table_data) > 0 then %}
    <div id="table-content">
      {% render("partial/table", {table_data=table_data, table_header=vars.header, show_id=true}) %}
    </div>
  {% else %}
    <p>No PDFs match selected filters</p>
  {% end %}
{% end %}

{% render('layouts/with_sidebar', {current_page="pdfs"}) %}
