{% function block.content_sidebar() %}
{% all_values = {} %}
{% for i, key in ipairs(vars.header) do %}
  {% all_values[key] = vars.get_metadata_values(key) %}
{% end %}

<h4>Filter</h4>
{% render('partial/filter', {form_action = "/tags", filters = all_values, form_ajax_update = "/table/tags"}) %}

{% end %}

{% function block.content_body() %}
{% if vars.uti.len(table_data) > 0 then %}
  <div id="table-content">
    {% render("partial/table", {table_data=table_data, table_header=table_header, show_id=false}) %}
  </div>
{% else %}
  <p>No tags match selected filters</p>
{% end %}
{% end %}

{% render('layouts/with_sidebar', {current_page="tags"}) %}

