{% function block.content() %}
{% if vars.uti.len(table_data) > 0 then %}
  <div id="table-content">
    {% render("partial/table", {table_data=table_data, table_header=table_header, show_id=false}) %}
  </div>
{% else %}
  <p>No tags match selected filters</p>
{% end %}
{% end %}

{% render('layouts/base', {current_page="tags"}) %}

