{% function block.pages_content() %}
{% block.table_with_header(vars.get_pdfs_filter(), vars.get_metadata_keys(), 1) %}
{% end %}

{% render('pages', {pages_title="All PDFs", current_page="pdfs"}) %}
