{% function block.pages_filter() %}
{% all_values = {} %}
{% for i, key in ipairs(vars.header) do %}
  {% all_values[key] = vars.get_metadata_values(key) %}
{% end %}

{% if selected == nil then %}
  {% selected = all_values %}
{% end %}

<h4>Filter</h4>
<form action="/pdfs" name="filter" method="get">
{% for key, values in pairs(all_values) do %}
  <fieldset>
  {% for i, value in ipairs(values) do %}
    {% if i == 1 then %}
      <legend>{%& key %}</legend>
      <div class="cluster"><div>
    {% end %}
    <div>
      <input type="checkbox" id="{%& key %}[]" name="{%& key %}[]" value="{%& value %}" 
      {% if vars.uti.value_in_array(value, selected[key]) then %}checked{% end %}
      />
      <label for="{{%& key %}[]">{%& value %}</label>
    </div>
  {% end %}
    </div></div>
  </fieldset>
{% end %}
<input type="submit" value="update"/>
</form>
{% selected = nil %}
{% end %}


{% function block.content() %}
<div class="pages-header">
  {% function block.pages_header() %}
  <h1>{%& pages_title %}</h1>
  {% end %}
  {% block.pages_header() %}
</div>
<div class="with-sidebar">
  <div class="pages-filter halfwidth">
  {% block.pages_filter() %}
  </div>
  <div class="pages-content">
    {% function block.pages_content() %}
    {% for i = 1, #pages_data do %}
      {% render('partial/page', {page_data = pages_data[i]}) %}
    {% end %}
    {% end %}
    {% block.pages_content() %}
  </div>
</div>
{% end %}

{% render('base') %}
