{% function block.new_page(image_base_64) %}
<img src="data:image/png;base64, {%& image_base_64 %}">
{% end %}

{%  function block.content() %}
<h1>Pages relating to '{%& tag %}'</h1>
<div id="pages">
{% local data = vars.load_images_by_tag(tag) %}
<div id="page">
{% for i = 1, #data do %}
  {% local row = data[i] %}
  {% block.new_page(row.png) %}
  <div id="pagemeta">Page {%& row.page %} from {%& row.id %}</div>
{% end %}
</div>
{% end %}

{% render('base', {current_page="tags"}) %}
