{% function block.header() %}
<fieldset>
<legend><h2>Document : <a href="{%& url %}">{%& fullpath %}</a></h2></legend>
<div class="stack">
{% render("partial/tags", {filter = filter, data = tags_found, legend = "Tags Found"}) %}
{% if pdf_meta ~= nil then %}
<fieldset class="cluster">
<legend>Document Metadata</legend>
<dl>
<dt>Pages</dt>
<dd>{%& total_pages %}</dd>
{% for key, values in pairs(pdf_meta) do %}
<dt>| {%& key %}</dt> 
<dd>{%& values %}</dd>
{% end %}
</dl>
</fieldset>
{% end %}
</div>
</fieldset>
{% end %}

{% function block.content() %}
{% if offset > 0 then %}
{% local prev = offset - limit %}
{% if prev < 0 then %}
{% prev = 0 %}
{% end %}
<fieldset>
<legend>Pages before these</legend>
<a href="{%& url %}?offset={%& prev %}">View Previous</a>
</fieldset>
{% end %}
{% render('pages', {url = url, current_page = "pdfs", pdf = pdf, 
                    pages = pages, filter = filter, limit = limit, 
                    offset = offset, total_pages = total_pages}) %}
{% end %}

{% render('layouts/base', {current_page="pdfs"}) %}
