{% function block.header() %}
<h2>{%& pdf %}</h2>
{% render("partial/tags", {filter = filter, data = tags_found, legend = "Tags Found"}) %}

<form name="pages/update", method="get">
  <label>From:<input type="number" name="low" value="{%& low %}"/></label>
  <label>To:<input type="number" name="high" value="{%& high %}"/></label>
  <button value="update" type="submit">Update</button>
</form>
{% end %}

{% function block.content() %}
{% render('partial/pages', {filter = filter, pages = pages}) %}
{% end %}

{% render('layouts/base', {current_page="pdfs"}) %}
