{% function block.content_header() %}
  <h3>{%& pdf %}</h3>
    {% local tags_found = vars.get_all_tags(pdf) %}
  <div id="tags">
    {% for i = 1, #tags_found do %}
      {% block.generate_link("tag", tags_found[i].tag, tags_found[i].count) %}
    {% end %}
  </div>

<form name="pages/update", method="get">
  <label>From:<input type="number" name="low" placeholder="{%& low %}"/></label>
  <label>To:<input type="number" name="high" placeholder="{%& high %}"/></label>
  <button value="update" type="submit">Update</button>
</form>
{% end %}


{% function block.content_body() %}
{% render('partial/pages', {pages = pages}) %}
{% end %}

{% render('layouts/with_sidebar', {current_page="pdfs"}) %}
