{% function block.content() %}
<h2>Settings</h3>
<dl>
{% for k,v in pairs(settings) do %}
<div>
  <dt>{%& k %}</dt>
  <dd>{%& vars.uti.dump(v) %}</dt>
</div>
{% end %}
</dl>
{% end %}

{% render('base', {current_page="settings"}) %}
