{% function block.generate_tag(t, f, tc) %}
{% local tc = tc or vars.count_tag(t, f) %}
{% if tc == 0 or tc == nil then %}
<a class="tag {% if t == tag then %}current {% end %} empty" href="{%& vars.siteurl %}/filters/{%& f %}/tags/{%& t %}">{%& t %}</a>
{% else %}
<a class="tag {% if t == tag then %}current{% end %}" href="{%& vars.siteurl %}/filters/{%& f %}/tags/{%& t %}">{%& t %}({%& tc %})</a>
{% end %}
{% end %}

{% function block.header() %}
<h1>{%& tag %}</div>({%& total_pages %})</h1>

<div class="cluster"><div>
{% render('partial/group', {tag = tag, filter=filter}) %}
{% if other_filters ~= nil then %}
<fieldset>
<legend>{%& tag %} is found in filters</legend>
{% for k, v in pairs(other_filters) do %}
{% if v > 0 then %}
<a class="tag {% if k == filter then %}current{% end %}" href="{%& vars.siteurl %}/filters/{%& k %}/tags/{%& tag %}">{%& k %}({%& v %})</a>
{% else %}
<a class="tag empty {% if k == filter then %}current{% end %}" href="{%& vars.siteurl %}/filters/{%& k %}/tags/{%& tag %}">{%& k %}</a>
{% end %}
{% end %}
</fieldset>
{% end %}

{% if #aka > 0 then %}
<fieldset class="box">
<legend>{%& tag %} is also known as</legend>
{% for i, t in ipairs(aka) do %}
  {% block.generate_tag(t, filter) %}
{% end %}
</fieldset>
{% end %}

{% if #related > 0 then %}
<fieldset class="box">
<legend>{%& tag %} is related to</legend>
{% for i, t in ipairs(related) do %}
  {% block.generate_tag(t, filter) %}
{% end %}
</fieldset>
{% end %}
</div>
</div>

{% end %}

{% function block.content() %}
{% if #pages > 0 then %}
{% render('pages', {url = url, tag = tag, pages = pages, filter = filter, 
                    offset = offset, total_pages = total_pages, limit = limit}) %}
{% else %}
No pages found associated with '{%& tag %}' in {%& filter %}.
{% end %}
{% end %}

{% render('layouts/base', {current_page="tags"}) %}
