{% function block.pages_header() %}
  {% block.pages.pages_header() %}
  {% local tag_count = vars.get_tag_count(tag) %}
  <p>
  {% if tag_count > 1 then %}
    We have found {%& tag_count %} pages with tag {%& block.generate_link('tag', tag) %}
  {% elseif tag_count == 1 then %}
    We have found 1 page with tag '{%& tag %}'
  {% else %}
    No pages with '{%& tag %}' have been found!
  </p>
  {% end %}
{% end %}

{% local data = vars.load_images_by_tag(tag, offset, limit) %}

{% function block.content_body() %}
{% for i = 1, #data do %}
  {% render('partial/page', {page_data = data[i]}) %}
{% end %}
{% end %}

{% render('layouts/with_sidebar', {current_page="tags"}) %}
