{% function block.content_header() %}
  {% if other_filters ~= nil then %}
  <ul>
  {% for k, v in pairs(other_filters) do %}
    <li {% if k == filter then %}class="current"{% end %}>
    We have found {%& v %} pages with tag <a href="{%& vars.siteurl %}/filters/{%& k %}/tags/{%& tag %}">{%& tag %}</a>
    in filter : <a href="/filters/{%& k %}">{%& k %}</a>
    </li>
  {% end %}
  </ul>
  {% end %}

<form name="pages/update", method="get">
  <label>Limit:<input type="number" name="limit" value="{%& limit %}"/></label>
  <button value="update" type="submit">Update</button>
</form>

{% end %}

{% function block.content() %}
{% render('partial/pages', {show_meta = show_meta, pages = pages, filter = filter}) %}
{% end %}

{% render('layouts/base', {current_page="tags"}) %}
