{% function block.content_sidebar() %}
{% all_values = {} %}
{% for i, key in ipairs(vars.header) do %}
  {% all_values[key] = vars.get_metadata_values(key) %}
{% end %}

<h4>Filter</h4>
{% render('partial/filter', {form_action = "/pdfs", filters = all_values, form_ajax_update = "/table/pdfs"}) %}

<form action="/views/set" method="post">
<div>
<input name="view" type="text" value="{%& current_view %}"/>
<label for="view">View</label>
</div>
<input type="submit" value="update"/>
</form>

{% end %}

{% function block.content_header() %}
{% end %}

{% function block.content_body() %}
{% end %}

{% render('layouts/with_sidebar', {current_page="views"}) %}
